.aikb-sidebar {
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow: hidden;
  outline: 1px var(--clr-stroke-default, #afb5bf) solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.aikb-sidebar__inner {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  display: inline-flex;
}

.aikb-sidebar__section {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.aikb-sidebar__row {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.aikb-sidebar__label {
  align-self: stretch;
  color: var(--clr-text-default, #102040);
  font-size: 16px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

.aikb-sidebar__value {
  align-self: stretch;
  color: var(--clr-text-body, #384560);
  font-size: 16px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.aikb-sidebar__divider {
  align-self: stretch;
  height: 0px;
  outline: 1px var(--clr-stroke-default, #afb5bf) solid;
  outline-offset: -0.5px;
}

.aikb-sidebar__value--link {
  text-decoration: underline;
}
