.aikb-search-card__tags {
  display: flex;
  align-items: center;
  gap: 16px;
}

.aikb-search-card__tag {
  padding: 4px 8px;
  background: var(--clr-tag-tag-subtle, white);
  border-radius: 4px;
  outline: 1px solid var(--clr-stroke-subtle, #d0e0e0);
  outline-offset: -1px;
  color: var(--clr-text-helper, #606a80);
  font-size: 12px;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 2px;
  word-wrap: break-word;
}
